@model AddCategoryViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form method="post">
    <br />
    <label>Kategori Adı:</label>
    <input type="text" class="form-control" asp-for="CategoryName"/>
    <br />
    <button class="btn btn-info">Kategoriyi Ekle</button> 
</form>